@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.primaryButton {
  position: relative;
  color: #ffffff;
  background: #333333;
  height: 60px;
  width: 200px;
  text-align: center;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
@media screen and (min-width: 700px) {
  .primaryButton {
    margin: 0;
  }
}
.primaryButton:before, .primaryButton:after {
  content: "";
  width: 20px;
  height: 20px;
  background: #ffda48;
  position: absolute;
  transition: all 300ms;
  transform: rotate(45deg);
}
.primaryButton:before {
  right: -40px;
}
.primaryButton:after {
  left: -40px;
}
.primaryButton:hover:after {
  left: -10px;
  transition: all 300ms;
}
.primaryButton:hover:before {
  right: -10px;
  transition: all 300ms;
}

.secondaryButton {
  position: relative;
  color: #ffffff;
  background: #ffffff;
  height: 40px;
  width: 180px;
  text-align: center;
  color: #333333;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 1px;
  border: 2px solid #333333;
  border-radius: 0.2rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms;
}
.secondaryButton:hover {
  transition: all 300ms;
  background: #333333;
  color: #ffffff;
}

h2 {
  text-transform: uppercase;
  font-size: 52px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  font-weight: 800;
}
@media screen and (min-width: 700px) {
  h2 {
    font-size: 62px;
  }
}
@media screen and (min-width: 900px) {
  h2 {
    font-size: 72px;
  }
}
@media screen and (min-width: 1200px) {
  h2 {
    font-size: 82px;
  }
}

* {
  box-sizing: border-box;
  outline: none;
}

img {
  max-width: 100%;
  pointer-events: none;
}

body {
  background: #ffda48;
  color: #ffffff;
  overflow-x: hidden;
  font-family: "futura-pt", "futura-pt-bold", "futura-pt-condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body.openMenu, body.openPopup {
  overflow: hidden;
}
body.light {
  background: #ffffff;
  color: #333333 !important;
}
body.dark {
  background: #333333;
  color: #ffffff;
}

a,
a:hover,
a:focus {
  color: #ffffff;
  outline: none;
  text-transform: none;
  text-decoration: none;
}

a:hover,
button:hover {
  cursor: pointer;
}

::-moz-selection {
  background: #e6c440;
  color: #333333;
}

::selection {
  background: #e6c440;
  color: #333333;
}

.accent {
  color: #e6c440;
}

.light {
  color: #ffffff;
}

.dark {
  color: #333333;
}

.centered {
  margin: 0 auto;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
}
@media screen and (min-width: 700px) {
  .container {
    padding: 0 70px;
  }
}

.fullContainer {
  padding: 0 1rem;
}
@media screen and (min-width: 700px) {
  .fullContainer {
    padding: 0 70px;
  }
}

.negativeContainer {
  margin: 0 -1rem;
}
@media screen and (min-width: 700px) {
  .negativeContainer {
    margin: 0 -70px;
  }
}

.fluidContainer {
  width: 100%;
  margin: 0;
}

.uppercase {
  text-transform: uppercase;
}

.mobileMenu {
  position: fixed;
  transition: left 350ms;
  left: 110vw;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ffda48;
  z-index: 90;
}
.mobileMenu.active {
  left: 0;
  transition: left 350ms;
}
@media screen and (min-width: 700px) {
  .mobileMenu {
    display: none;
  }
}
.mobileMenu .mobileMenuItemContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mobileMenu .mobileMenuItemContainer .navItem {
  font-size: 1.75rem;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
  font-weight: 600;
}
.mobileMenu .sayhello {
  position: absolute;
  bottom: 1.5rem;
  text-align: center;
}
.mobileMenu .sayhello .subheading {
  color: #e6c440;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.mobileMenu .sayhello .text {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
  width: 100%;
  padding: 0 1rem;
  top: 0;
  left: 0;
}
@media screen and (min-width: 700px) {
  nav {
    padding: 0 70px;
  }
}
nav .navLogo {
  top: 0;
  background: #333333;
  padding: 20px 10px;
  width: 70px;
  height: 115px;
}
nav .navLogo img {
  width: 100%;
}
nav .navItemContainer {
  top: 0;
  height: 115px;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms;
}
nav .navItemContainer .mobileMenuToggle {
  display: inline-block;
  font-size: 2rem;
}
@media screen and (min-width: 700px) {
  nav .navItemContainer .mobileMenuToggle {
    display: none;
  }
}
nav .navItemContainer.light .mobileMenuToggle.icon,
nav .navItemContainer.light .navItem {
  color: #333333;
}
nav .navItemContainer.light .mobileMenuToggle.icon:hover,
nav .navItemContainer.light .navItem:hover {
  transition: all 300ms;
  color: #ccc;
}
nav .navItemContainer .navItem {
  margin: 0 1.3rem;
  padding: 5px 0;
  display: none;
  font-size: 1.1rem;
  transition: all 300ms;
}
@media screen and (min-width: 700px) {
  nav .navItemContainer .navItem {
    display: inline-block;
  }
}
nav .navItemContainer .navItem.active {
  font-weight: 600;
}
nav .navItemContainer .navItem:hover {
  transition: all 300ms;
  color: #333333;
}
@media screen and (min-width: 700px) {
  nav .navItemContainer.scrolled {
    opacity: 0;
    transition: all 300ms;
  }
}

.quote {
  background-color: #333333;
  margin-top: 350px;
  margin-bottom: 350px;
  position: relative;
}
.quote:before, .quote:after {
  content: url("../assets/Legarti-Webcontent-Quote-Bg.svg");
  background: url("../assets/Legarti-Webcontent-Quote-Bg.svg") top left no-repeat;
  background-size: cover;
  width: 100%;
  height: 120px;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  overflow: hidden;
}
@media screen and (min-width: 900px) {
  .quote:before, .quote:after {
    height: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .quote:before, .quote:after {
    height: 250px;
  }
}
@media screen and (min-width: 1200px) {
  .quote:before, .quote:after {
    height: 250px;
  }
}
.quote:before {
  top: -118px;
}
@media screen and (min-width: 900px) {
  .quote:before {
    top: -198px;
  }
}
@media screen and (min-width: 1200px) {
  .quote:before {
    top: -248px;
  }
}
.quote:after {
  transform: scaleY(-1);
  bottom: -118px;
}
@media screen and (min-width: 900px) {
  .quote:after {
    bottom: -198px;
  }
}
@media screen and (min-width: 1200px) {
  .quote:after {
    bottom: -248px;
  }
}
.quote .quoteText {
  font-size: 32px;
  color: #e6c440;
  font-weight: 600;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 700px) {
  .quote .quoteText {
    font-size: 52px;
  }
}
@media screen and (min-width: 900px) {
  .quote .quoteText {
    font-size: 62px;
  }
}
@media screen and (min-width: 1000px) {
  .quote .quoteText {
    font-size: 72px;
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .quote .quoteText {
    font-size: 82px;
    padding: 50px 0;
  }
}
.quote .quoteAuthor {
  color: #ccc;
  text-align: center;
  font-size: 0.85rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 2rem;
}
@media screen and (min-width: 900px) {
  .quote .quoteAuthor {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .quote .quoteAuthor {
    font-size: 1.3rem;
    margin-top: 0rem;
  }
}

.hero {
  margin-top: 0 !important;
  height: 100vh;
}
.hero .sloganContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: 100%;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}
.hero .sloganContainer .slogan {
  font-weight: 800;
  font-size: 52px;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 700px) {
  .hero .sloganContainer .slogan {
    font-size: 82px;
  }
}
@media screen and (min-width: 1200px) {
  .hero .sloganContainer .slogan {
    font-size: 102px;
  }
}
.hero .sloganContainer .subslogan {
  font-weight: 400;
  font-size: 21px;
  text-transform: none;
}
@media screen and (min-width: 700px) {
  .hero .sloganContainer .subslogan {
    font-size: 25px;
  }
}
.hero .heroSocialContainer {
  position: absolute;
  bottom: 30px;
}
.hero .heroSocialContainer .heroSocialItem::before {
  font-size: 1.45rem;
}
.hero .heroSocialContainer .heroSocialItem:nth-child(2) {
  margin: 0 1rem;
}

#whatwedo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
}
@media screen and (min-width: 1000px) {
  #whatwedo {
    flex-direction: row;
    margin-top: 120px;
  }
}
#whatwedo .departments {
  order: 2;
  text-align: center;
}
@media screen and (min-width: 1000px) {
  #whatwedo .departments {
    order: 1;
    text-align: left;
  }
}
#whatwedo .departments .primaryButton {
  margin: 2.5rem auto 0 auto;
}
@media screen and (min-width: 1000px) {
  #whatwedo .departments .primaryButton {
    margin: 2.5rem 0 0 0;
  }
}
#whatwedo .showcase {
  position: relative;
  margin-top: 0;
  order: 1;
}
@media screen and (min-width: 1000px) {
  #whatwedo .showcase {
    order: 2;
    top: -120px;
    right: -250px;
  }
}

.landingShowcase {
  margin-top: 200px;
  margin-bottom: 4.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1000px) {
  .landingShowcase {
    flex-direction: row;
  }
}
.landingShowcase .landingShowcaseText {
  width: 100%;
  overflow: hidden;
}
@media screen and (min-width: 700px) {
  .landingShowcase .landingShowcaseText {
    overflow: unset;
  }
}
.landingShowcase .landingShowcaseText .bigNumber {
  font-size: 300px;
  font-weight: 700;
  position: relative;
}
.landingShowcase .landingShowcaseText .subheading {
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 600;
  position: relative;
  top: -70px;
}
.landingShowcase .landingShowcaseText .heading {
  position: relative;
  top: -60px;
  font-size: 42px;
  font-weight: 600;
}
@media screen and (min-width: 900px) {
  .landingShowcase .landingShowcaseText .heading {
    font-size: 52px;
  }
}
.landingShowcase .landingShowcaseImage {
  width: 100%;
  padding: 0 1rem;
}
@media screen and (min-width: 700px) {
  .landingShowcase .landingShowcaseImage {
    padding: 0;
  }
}

.landingShowcase.left {
  justify-content: flex-start;
}
.landingShowcase.left .imageContainer {
  order: 2;
  width: 100%;
}
.landingShowcase.left .landingShowcaseText {
  order: 1;
  padding-left: 1rem;
}
@media screen and (min-width: 700px) {
  .landingShowcase.left .landingShowcaseText {
    padding-left: 70px;
  }
}
.landingShowcase.left .landingShowcaseText .bigNumber {
  position: relative;
  left: -5rem;
}
@media screen and (min-width: 700px) {
  .landingShowcase.left .landingShowcaseText .bigNumber {
    left: -175px;
  }
}
@media screen and (min-width: 900px) {
  .landingShowcase.left .landingShowcaseText .bigNumber {
    left: -157.5px;
  }
}
@media screen and (min-width: 1000px) {
  .landingShowcase.left .landingShowcaseText .bigNumber {
    left: -157.5px;
  }
}
.landingShowcase.left .landingShowcaseImage {
  order: 2;
}

.landingShowcase.right {
  justify-content: flex-end;
}
.landingShowcase.right.uxdesign .landingShowcaseText {
  position: relative;
}
.landingShowcase.right.uxdesign .landingShowcaseImage {
  position: relative;
  padding: 0;
}
@media screen and (min-width: 900px) {
  .landingShowcase.right.uxdesign .landingShowcaseImage {
    left: -150px;
  }
}
@media screen and (min-width: 900px) {
  .landingShowcase.right.uxdesign .landingShowcaseImage {
    left: 0px;
  }
}
.landingShowcase.right .landingShowcaseText {
  order: 1;
  text-align: right;
  padding-right: 1rem;
}
@media screen and (min-width: 1000px) {
  .landingShowcase.right .landingShowcaseText {
    padding-right: 70px;
  }
}
@media screen and (min-width: 1000px) {
  .landingShowcase.right .landingShowcaseText {
    order: 2;
  }
}
.landingShowcase.right .landingShowcaseText .bigNumber {
  position: relative;
  right: -75px;
}
@media screen and (min-width: 700px) {
  .landingShowcase.right .landingShowcaseText .bigNumber {
    right: -70px;
  }
}
@media screen and (min-width: 1000px) {
  .landingShowcase.right .landingShowcaseText .bigNumber {
    right: -129.5px;
  }
}
.landingShowcase.right .landingShowcaseImage {
  order: 2;
}
@media screen and (min-width: 1000px) {
  .landingShowcase.right .landingShowcaseImage {
    order: 1;
  }
}

.landingShowcase.cinematicStory .cinematicStoryContainer {
  width: 100%;
  order: 2;
  text-align: center;
}
@media screen and (min-width: 1000px) {
  .landingShowcase.cinematicStory .cinematicStoryContainer {
    order: 1;
  }
}
.landingShowcase.cinematicStory .landingShowcaseText {
  order: 1;
}
@media screen and (min-width: 1000px) {
  .landingShowcase.cinematicStory .landingShowcaseText {
    order: 2;
  }
}
.landingShowcase.cinematicStory .cinematicStoryWrapper {
  display: inline-block;
  position: relative;
  margin: 2em 0;
}
@media screen and (min-width: 1000px) {
  .landingShowcase.cinematicStory .cinematicStoryWrapper {
    margin: 0;
  }
}
.landingShowcase.cinematicStory .cinematicStoryWrapper .cinematicStoryDisplayWrapper {
  position: absolute;
  width: 87.6%;
  padding-bottom: 154%;
  top: 12%;
  left: 6%;
  overflow: hidden;
}
.landingShowcase.cinematicStory .cinematicStoryWrapper .cinematicStoryDisplayWrapper img,
.landingShowcase.cinematicStory .cinematicStoryWrapper .cinematicStoryDisplayWrapper video {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.landingShowcase.cinematicStory img,
.landingShowcase.cinematicStory video {
  max-height: 90vh;
  display: block;
  margin: 0 auto;
}

footer {
  background: #ffda48;
  margin-top: 350px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: #ffffff;
}
footer .content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-top: 5rem;
}
@media screen and (min-width: 900px) {
  footer .content {
    padding-top: 0;
  }
}
footer .content .innerContent,
footer .content .logo {
  width: 100%;
}
@media screen and (min-width: 900px) {
  footer .content .innerContent,
footer .content .logo {
    width: 50%;
  }
}
footer .content .subheading {
  font-size: 25px;
  letter-spacing: 1px;
  margin-bottom: 4rem;
}
footer .content .contactData .subheading {
  color: #e6c440;
  font-size: 1rem;
  margin-bottom: 5px;
  letter-spacing: 0;
  text-transform: uppercase;
}
footer .content .contactData .heading {
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
  letter-spacing: 1px;
  font-weight: 700;
}
footer .logo {
  display: none;
  max-width: 650px;
  padding: 100px 0 0 0;
}
@media screen and (min-width: 900px) {
  footer .logo {
    display: block;
  }
}
footer .bottom {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
}
footer .bottom .social {
  order: 1;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 2rem;
}
@media screen and (min-width: 900px) {
  footer .bottom .social {
    justify-content: center;
  }
}
footer .bottom .social .icon {
  font-size: 30px;
  margin: 0 5rem;
}
footer .bottom .copyright {
  order: 2;
  text-align: center;
  margin-bottom: 2rem;
}
footer .bottom .withLove {
  order: 3;
  text-align: center;
}
footer .bottom .rights {
  background: #333333;
  margin-top: 2rem;
  order: 4;
  padding: 1rem;
  text-align: center;
}

.missionStatement {
  padding-top: 265px;
}
.missionStatement h1 {
  text-transform: unset;
  text-align: center;
  font-size: 42px;
  font-weight: 600;
}
@media screen and (min-width: 900px) {
  .missionStatement h1 {
    font-size: 52px;
  }
}
@media screen and (min-width: 1200px) {
  .missionStatement h1 {
    font-size: 62px;
  }
}

.showcaseContainer {
  margin-top: 250px;
}
@media screen and (min-width: 900px) {
  .showcaseContainer {
    margin: 250px auto 0 auto;
    max-width: 1420px;
  }
}
.showcaseContainer .showcase {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.15);
  transition: transform 300ms;
  transform: scale(1);
  margin-bottom: 4rem;
  border-radius: 5px;
  border: 1px solid #eee;
  border-bottom: 0;
  border-right: 0;
}
.showcaseContainer .showcase:hover {
  transition: transform 300ms;
  transform: scale(0.975);
  cursor: pointer;
}
.showcaseContainer .showcase .bgShowcase {
  width: 100%;
  position: absolute;
  height: 100%;
  border-radius: 5px;
}
@media screen and (min-width: 1000px) {
  .showcaseContainer .showcase .bgShowcase {
    position: relative;
    height: auto;
    width: 50%;
    border-radius: 0 5px 5px 0;
  }
}
.showcaseContainer .showcase .showcaseInformation {
  width: 100%;
  padding: 1rem;
  position: relative;
  z-index: 10;
  border-radius: 5px;
}
@media screen and (min-width: 1000px) {
  .showcaseContainer .showcase .showcaseInformation {
    width: 50%;
    padding: 2rem;
    border-radius: 5px 0 0 5px;
  }
}
.showcaseContainer .showcase .showcaseInformation .logo {
  width: 120px;
  margin-bottom: 125px;
  max-height: 100px;
}
.showcaseContainer .showcase .showcaseInformation .statement {
  margin-bottom: 125px;
  font-size: 1.85rem;
  width: 100%;
  text-align: center;
  padding: 0 1rem;
  font-weight: 600;
}
.showcaseContainer .showcase .showcaseInformation .showcaseHeading {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 0.9rem;
}
.showcaseContainer .showcase .showcaseInformation .showcaseTasks {
  font-size: 1rem;
  font-weight: 300;
}
.showcaseContainer .showcase#ucs {
  color: #ffffff;
}
@media screen and (min-width: 1000px) {
  .showcaseContainer .showcase#ucs {
    background: #111111;
  }
}
.showcaseContainer .showcase#ucs .showcaseInformation {
  background: rgba(1, 1, 1, 0.7);
}
.showcaseContainer .showcase#ucs .bgShowcase {
  background: url("../assets/projekte/ucs/showcase.gif") center center no-repeat;
  background-size: cover;
}
@media screen and (min-width: 1000px) {
  .showcaseContainer .showcase#ucs .bgShowcase {
    position: relative;
  }
  .showcaseContainer .showcase#ucs .bgShowcase:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 50%;
    background: linear-gradient(-90deg, rgba(17, 17, 17, 0), #111111);
  }
}
.showcaseContainer .showcase#ad24 {
  color: #333333;
}
@media screen and (min-width: 1000px) {
  .showcaseContainer .showcase#ad24 {
    background: #ffffff;
  }
}
.showcaseContainer .showcase#ad24 .showcaseInformation {
  background: rgba(255, 255, 255, 0.7);
}
.showcaseContainer .showcase#ad24 .bgShowcase {
  background: url("../assets/projekte/auftragsdepot24/showcase.jpg") center center no-repeat;
  background-size: cover;
}
.showcaseContainer .showcase#tfa {
  color: #ffffff;
}
@media screen and (min-width: 1000px) {
  .showcaseContainer .showcase#tfa {
    background: #ee7230;
  }
}
.showcaseContainer .showcase#tfa .showcaseInformation {
  background: rgba(238, 114, 48, 0.7);
}
.showcaseContainer .showcase#tfa .showcaseInformation .logo {
  height: 70px;
  width: auto;
}
.showcaseContainer .showcase#tfa .bgShowcase {
  background: url("../assets/projekte/tfa/showcase.jpg") center center no-repeat;
  background-size: cover;
}
.showcaseContainer .showcase#fl {
  color: #ffffff;
}
@media screen and (min-width: 1000px) {
  .showcaseContainer .showcase#fl {
    background: #000000;
  }
}
.showcaseContainer .showcase#fl .showcaseInformation {
  background: rgba(0, 0, 0, 0.7);
}
.showcaseContainer .showcase#fl .bgShowcase {
  background: url("../assets/projekte/fl/showcase.gif") center center no-repeat;
  background-size: cover;
  background-color: #000000;
}
@media screen and (min-width: 1000px) {
  .showcaseContainer .showcase#fl .bgShowcase {
    position: relative;
  }
  .showcaseContainer .showcase#fl .bgShowcase:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 50%;
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0), black);
  }
}
.showcaseContainer .showcase#legarti {
  color: #ffffff;
}
@media screen and (min-width: 1000px) {
  .showcaseContainer .showcase#legarti {
    background: #ffda48;
  }
}
.showcaseContainer .showcase#legarti .showcaseInformation {
  background: rgba(255, 218, 72, 0.7);
}
.showcaseContainer .showcase#legarti .bgShowcase {
  background: url("../assets/projekte/legarti/showcase.jpg") center center no-repeat;
  background-size: cover;
}
@media screen and (min-width: 1000px) {
  .showcaseContainer .showcase#legarti .bgShowcase {
    position: relative;
  }
  .showcaseContainer .showcase#legarti .bgShowcase:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 50%;
    background: linear-gradient(-90deg, rgba(255, 218, 72, 0), #ffda48);
  }
}

.showcaseContainer .popup {
  display: none;
  opacity: 0;
}
@media screen and (min-width: 900px) {
  .showcaseContainer .popup .showMore {
    margin: 2rem 0;
  }
}

.showcaseContainer .popup.active {
  display: flex;
  opacity: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 2rem;
}
@media screen and (min-width: 900px) {
  .showcaseContainer .popup.active {
    flex-direction: row;
  }
}
@media screen and (min-width: 900px) {
  .showcaseContainer .popup.active {
    padding: 0;
  }
}
.showcaseContainer .popup.active .closeIcon {
  color: #333333;
  padding: 1rem;
  width: 100%;
  text-align: right;
  cursor: pointer;
  font-size: 2em;
}
@media screen and (min-width: 900px) {
  .showcaseContainer .popup.active .closeIcon {
    position: absolute;
    top: 0;
    padding: 1rem;
  }
}
.showcaseContainer .popup.active .left {
  width: 100%;
}
@media screen and (min-width: 900px) {
  .showcaseContainer .popup.active .left {
    height: 100%;
  }
}
@media screen and (min-width: 900px) {
  .showcaseContainer .popup.active .left img {
    display: none;
  }
}
.showcaseContainer .popup.active .left .taskDescription {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  z-index: 10;
}
.showcaseContainer .popup.active .left .taskDescription h3 {
  font-size: 1.35rem;
  font-weight: 600;
  margin-bottom: 5px;
}
.showcaseContainer .popup.active .left .taskDescription p {
  font-weight: 300;
  font-size: 1.25rem;
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 900px) {
  .showcaseContainer .popup.active .left {
    width: 45%;
  }
  .showcaseContainer .popup.active .left .taskDescription {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 1rem;
    width: 45%;
  }
}
.showcaseContainer .popup.active .left.black, .showcaseContainer .popup.active .left.yellow {
  color: #ffffff;
}
@media screen and (min-width: 900px) {
  .showcaseContainer .popup.active .left.withGradient.black:after {
    content: "";
    width: 100%;
    height: 70%;
    background: linear-gradient(0deg, black, rgba(0, 0, 0, 0));
    display: inline-block;
    position: relative;
    top: 30%;
    bottom: 0;
  }
  .showcaseContainer .popup.active .left.withGradient.yellow:after {
    content: "";
    width: 100%;
    height: 70%;
    background: linear-gradient(0deg, #ffda48, rgba(255, 218, 72, 0));
    display: inline-block;
    position: relative;
    top: 30%;
    bottom: 0;
  }
}
.showcaseContainer .popup.active .right {
  width: 100%;
}
.showcaseContainer .popup.active .right .projectDescription .heading {
  font-weight: 600;
  font-size: 32px;
}
.showcaseContainer .popup.active .right .projectDescription .text {
  margin-top: 1rem;
  font-weight: 300;
  font-size: 1.1em;
  line-height: 1.2em;
  text-align: justify;
}
.showcaseContainer .popup.active .right .productLink {
  margin: 2rem auto 0 auto;
}
@media screen and (min-width: 900px) {
  .showcaseContainer .popup.active .right {
    width: 55%;
  }
}

.pipeline {
  margin-top: 150px;
}
.pipeline .heading {
  text-align: center;
  margin-bottom: 20px;
}
.pipeline .subheading {
  font-size: 1rem;
  text-align: center;
}
@media screen and (min-width: 1000px) {
  .pipeline .subheading {
    font-size: 1.5rem;
  }
}
.pipeline .heroSocialContainer {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 40px auto;
}
.pipeline .heroSocialContainer .icon {
  color: #333333;
  font-size: 2rem;
}

#teamFotoContainer {
  position: relative;
  max-width: 1400px;
  margin: 150px auto 0 auto;
}
@media screen and (min-width: 900px) {
  #teamFotoContainer {
    margin-top: 265px;
  }
}
#teamFotoContainer .teamFoto {
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 1rem;
  width: 100%;
}
#teamFotoContainer .socialMediaContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media screen and (min-width: 900px) {
  #teamFotoContainer .socialMediaContainer {
    background: #333333;
    position: absolute;
    top: 0;
    right: 120px;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 5px 5px;
  }
  #teamFotoContainer .socialMediaContainer .icon {
    margin: 0.5rem 0;
  }
}
@media screen and (min-width: 1200px) {
  #teamFotoContainer .socialMediaContainer {
    padding: 1rem 2rem;
    right: 140px;
  }
  #teamFotoContainer .socialMediaContainer .icon {
    margin: 1rem 0;
  }
}
#teamFotoContainer .socialMediaContainer .icon {
  font-size: 1.5rem;
}

#legeartismeaning {
  margin-top: 5rem;
}
@media screen and (min-width: 1000px) {
  #legeartismeaning {
    margin-top: 300px;
  }
}
#legeartismeaning img.legeartis {
  width: 100%;
}
#legeartismeaning .textContent {
  padding: 0 1rem;
  position: relative;
  top: -16px;
}
@media screen and (min-width: 700px) {
  #legeartismeaning .textContent {
    top: -22px;
  }
}
@media screen and (min-width: 900px) {
  #legeartismeaning .textContent {
    top: -32px;
  }
}
#legeartismeaning .textContent p.latein,
#legeartismeaning .textContent p.nachallenregeln {
  width: 100%;
  text-align: right;
}
#legeartismeaning .textContent p.latein {
  font-size: 16px;
  font-weight: 600;
}
@media screen and (min-width: 700px) {
  #legeartismeaning .textContent p.latein {
    font-size: 22px;
  }
}
@media screen and (min-width: 900px) {
  #legeartismeaning .textContent p.latein {
    font-size: 32px;
  }
}
#legeartismeaning .textContent p.nachallenregeln {
  font-size: 25px;
  font-weight: 700;
}
@media screen and (min-width: 700px) {
  #legeartismeaning .textContent p.nachallenregeln {
    font-size: 42px;
  }
}
@media screen and (min-width: 900px) {
  #legeartismeaning .textContent p.nachallenregeln {
    font-size: 62px;
  }
}
@media screen and (min-width: 1200px) {
  #legeartismeaning .textContent p.nachallenregeln {
    font-size: 72px;
  }
}
#legeartismeaning img.latein {
  margin-left: auto;
  display: block;
  position: relative;
  right: 1rem;
  top: -0.75rem;
}
@media screen and (min-width: 700px) {
  #legeartismeaning img.latein {
    width: 25%;
  }
}
@media screen and (min-width: 1400px) {
  #legeartismeaning img.latein {
    width: 20%;
  }
}
#legeartismeaning img.nachallenregeln {
  display: block;
  position: relative;
  top: -5px;
  right: 1rem;
  margin-left: auto;
}
@media screen and (min-width: 700px) {
  #legeartismeaning img.nachallenregeln {
    width: 55%;
  }
}
@media screen and (min-width: 1000px) {
  #legeartismeaning img.nachallenregeln {
    width: 65%;
  }
}
#legeartismeaning:after {
  content: "";
  height: 50px;
  width: 2px;
  background: #ffffff;
  display: block;
  margin: 20px auto 0 auto;
}
@media screen and (min-width: 900px) {
  #legeartismeaning:after {
    height: 100px;
  }
}

#coreValueSlideshow {
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
  background: url("../assets/wir/coreValue/background1.jpg") center center no-repeat;
  background-size: cover;
  margin-top: 5rem;
  transition: background-image 0.5s ease;
}
@media screen and (min-width: 900px) {
  #coreValueSlideshow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  }
}
@media screen and (min-width: 1200px) {
  #coreValueSlideshow {
    min-height: 750px;
  }
}
#coreValueSlideshow .bigNumber {
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
  color: #e6c440;
  font-size: 40vw;
  font-weight: 600;
  position: relative;
  left: -1rem;
  top: -70px;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 700px) {
  #coreValueSlideshow .bigNumber {
    font-size: 200px;
    left: -140px;
    top: -100px;
  }
}
@media screen and (min-width: 900px) {
  #coreValueSlideshow .bigNumber {
    font-size: 250px;
    left: -140px;
    top: -125px;
  }
}
@media screen and (min-width: 1200px) {
  #coreValueSlideshow .bigNumber {
    font-size: 350px;
    left: -175px;
    top: -175px;
  }
}
#coreValueSlideshow .innerContent {
  margin-top: 3rem;
  position: relative;
}
@media screen and (min-width: 900px) {
  #coreValueSlideshow .innerContent {
    width: 70%;
    margin-bottom: 3rem;
    top: 40px;
  }
}
@media screen and (min-width: 1200px) {
  #coreValueSlideshow .innerContent {
    width: 70%;
    margin-bottom: 0;
  }
}
#coreValueSlideshow .innerContent .ourValues {
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.85rem;
}
@media screen and (min-width: 900px) {
  #coreValueSlideshow .innerContent .ourValues {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1200px) {
  #coreValueSlideshow .innerContent .ourValues {
    font-size: 1.5rem;
  }
}
#coreValueSlideshow .innerContent .value {
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
  position: relative;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 2rem;
}
@media screen and (min-width: 900px) {
  #coreValueSlideshow .innerContent .value {
    font-size: 3rem;
    margin-bottom: 2.5rem;
  }
}
@media screen and (min-width: 1200px) {
  #coreValueSlideshow .innerContent .value {
    font-size: 4.5rem;
    margin-bottom: 0;
  }
}
#coreValueSlideshow .arrows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 40px;
  position: relative;
  top: 50px;
}
#coreValueSlideshow .arrows .right-arrow,
#coreValueSlideshow .arrows .left-arrow {
  cursor: pointer;
}
@media screen and (min-width: 900px) {
  #coreValueSlideshow .arrows {
    font-size: 3rem;
    top: 0;
  }
}
@media screen and (min-width: 1200px) {
  #coreValueSlideshow .arrows {
    font-size: 4rem;
  }
}

.absolute-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}

#sideHustle {
  max-width: 1400px;
  margin: 200px auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 89;
}
@media screen and (min-width: 900px) {
  #sideHustle {
    margin: 250px auto 500px auto;
  }
}
#sideHustle .imageContainer {
  position: relative;
  z-index: 98;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
@media screen and (min-width: 1000px) {
  #sideHustle .imageContainer {
    justify-content: space-evenly;
  }
}
#sideHustle .imageContainer .colContainer {
  position: relative;
}
#sideHustle .imageContainer .colContainer:nth-child(2) {
  margin: 0 0.5rem;
}
#sideHustle .imageContainer .colContainer .sideHustleImage {
  margin-bottom: 1rem;
  width: 100%;
}
#sideHustle .imageContainer .colContainer:nth-child(even) {
  top: 70px;
}
#sideHustle .heading {
  position: absolute;
  font-size: 42px;
  font-weight: 600;
  text-align: center;
  margin-left: -1rem;
  width: 100%;
  padding: 0 1rem;
  z-index: 99;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.35);
}
@media screen and (min-width: 700px) {
  #sideHustle .heading {
    font-size: 52px;
    margin-left: -70px;
    padding: 0 70px;
  }
}
@media screen and (min-width: 900px) {
  #sideHustle .heading {
    font-size: 62px;
    margin-left: -70px;
    padding: 0 70px;
  }
}
@media screen and (min-width: 1200px) {
  #sideHustle .heading {
    font-size: 72px;
  }
}
@media screen and (min-width: 1400px) {
  #sideHustle .heading {
    font-size: 102px;
  }
}

nav.homeNavContainer.dark .navLogo {
  background: #ffda48;
}
nav.homeNavContainer.dark .navItemContainer .navItem:hover {
  color: #ffda48;
}

nav.mobileMenu.dark {
  background: #333333;
}

#ContactContentContainer {
  display: flex;
  flex-direction: column;
  margin-top: 165px;
}
@media screen and (min-width: 1000px) {
  #ContactContentContainer {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}

@media screen and (min-width: 1000px) {
  #contactFormContainer {
    width: 60%;
  }
}
#contactFormContainer .heading {
  color: #ffda48;
  font-size: 42px;
  line-height: 40px;
  text-transform: initial;
  font-weight: 700;
  margin-bottom: 4rem;
}
@media screen and (min-width: 700px) {
  #contactFormContainer .heading {
    font-size: 52px;
    line-height: 45px;
  }
}
@media screen and (min-width: 900px) {
  #contactFormContainer .heading {
    font-size: 62px;
    line-height: 55px;
  }
}
#contactFormContainer .contactForm {
  margin-top: 2rem;
}
#contactFormContainer .contactForm .inputGroup {
  position: relative;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
}
#contactFormContainer .contactForm .inputGroup:after {
  content: attr(data-label);
  position: absolute;
  display: block;
  top: -1.25rem;
  left: 1rem;
  color: #ffda48;
  font-size: 0.85rem;
  opacity: 0;
  transition: opacity 300ms;
}
#contactFormContainer .contactForm .inputGroup.focus:after {
  opacity: 1;
  transition: opacity 300ms;
}
#contactFormContainer .contactForm .inputGroup input,
#contactFormContainer .contactForm .inputGroup textarea {
  padding: 1rem;
  width: 100%;
  border-radius: 5px;
  border: none;
  transition: box-shadow 300ms;
  font-size: 1.25rem;
  font-family: "futura-pt", "futura-pt-bold", "futura-pt-condensed", sans-serif;
}
#contactFormContainer .contactForm .inputGroup input:focus, #contactFormContainer .contactForm .inputGroup input:focus,
#contactFormContainer .contactForm .inputGroup textarea:focus,
#contactFormContainer .contactForm .inputGroup textarea:focus {
  box-shadow: 0 0 0px 3px inset #ffda48;
  transition: box-shadow 300ms;
}
#contactFormContainer .contactForm .inputGroup .primaryButton {
  margin-top: 1rem;
  background: #ffda48;
  color: #ffffff;
  width: 100%;
}
#contactFormContainer .contactForm .inputGroup .primaryButton:hover:after, #contactFormContainer .contactForm .inputGroup .primaryButton:hover:before {
  background: #333333;
}

#DirectContact {
  margin-top: 5rem;
}
@media screen and (min-width: 1000px) {
  #DirectContact {
    width: 40%;
  }
}
#DirectContact .content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-top: 5rem;
}
@media screen and (min-width: 900px) {
  #DirectContact .content {
    padding-top: 0;
  }
}
#DirectContact .content .innerContent .heading {
  color: #ffda48;
  font-size: 42px;
  font-weight: 600;
  line-height: 40px;
}
@media screen and (min-width: 700px) {
  #DirectContact .content .innerContent .heading {
    font-size: 52px;
    line-height: 45px;
  }
}
@media screen and (min-width: 900px) {
  #DirectContact .content .innerContent .heading {
    font-size: 62px;
    line-height: 55px;
  }
}
#DirectContact .content .contactData {
  margin-top: 3rem;
}
#DirectContact .content .contactData .subheading {
  color: #ffda48;
  font-size: 1rem;
  margin-bottom: 5px;
  letter-spacing: 0;
  text-transform: uppercase;
}
#DirectContact .content .contactData .heading {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: 2.5rem;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 700;
}

footer.dark {
  background: #333333;
  color: #ffffff !important;
  margin-top: 5rem;
}
@media screen and (min-width: 900px) {
  footer.dark {
    margin-top: 100px;
  }
}
footer.dark .content {
  padding: 0;
}
footer.dark .content .innerContent .heading {
  color: #ffda48;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 4rem;
}
footer.dark .content .innerContent .contactData .contactDataItem .heading {
  color: #ffffff;
}
footer.dark .bottom {
  margin-top: 0;
}
footer.dark .bottom .rights {
  background: #ffda48;
}

.datenschutz,
.impressum {
  color: #333333 !important;
}
.datenschutz .container,
.impressum .container {
  padding-top: 230px;
}
.datenschutz .container .heading,
.impressum .container .heading {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 3rem;
}
.datenschutz .container h2,
.impressum .container h2 {
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}
.datenschutz .container h3,
.impressum .container h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.datenschutz .container p,
.impressum .container p {
  text-align: justify;
  font-size: 1.1rem;
  line-height: 1.25rem;
}
.datenschutz .container p:last-child,
.impressum .container p:last-child {
  margin-top: 2rem;
}
@media screen and (min-width: 700px) {
  .datenschutz .container p,
.impressum .container p {
    text-align: left;
  }
}
.datenschutz .container p a,
.impressum .container p a {
  color: #ffffff;
}

.icon {
  font-family: "Font Awesome 5 Free";
  font-weight: 100;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
  transition: all 300ms;
}
.icon:hover {
  transition: all 300ms;
  color: #ccc;
}

.brand {
  font-family: "Font Awesome 5 Brands";
}

.right-arrow:before {
  content: "";
  font-weight: 900;
}

.left-arrow:before {
  content: "";
  font-weight: 900;
}

.instagramIcon:before {
  content: "";
}

.facebookIcon:before {
  content: "";
}

.linkedinIcon:before {
  content: "";
}

.closeIcon:before {
  content: "";
}

body .navItemContainer .menuIcon:before {
  content: "";
  font-weight: 900;
}
body.openMenu .navItemContainer .menuIcon:before {
  content: "";
}

/*# sourceMappingURL=all.css.map */
