.showcaseContainer .popup {
  display: none;
  opacity: 0;
  .showMore {
    @media screen and (min-width: 900px) {
      margin: 2rem 0;
    }
  }
}
.showcaseContainer .popup.active {
  display: flex;
  opacity: 1;
  flex-direction: column;
  @media screen and (min-width: 900px) {
    flex-direction: row;
  }
  justify-content: space-between;
  align-items: center;
  background: $light;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $navIndex + 1;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  padding-bottom: $borderMobile * 2;
  @media screen and (min-width: 900px) {
    padding: 0;
  }
  .closeIcon {
    color: $dark;
    padding: $borderMobile;
    width: 100%;
    text-align: right;
    cursor: pointer;
    font-size: 2em;
    @media screen and (min-width: 900px) {
      position: absolute;
      top: 0;
      padding: 1rem;
    }
  }
  .left {
    width: 100%;
    @media screen and (min-width: 900px) {
      height: 100%;
    }
    img {
      @media screen and (min-width: 900px) {
        display: none;
      }
    }
    .taskDescription {
      margin-top: 3rem;
      margin-bottom: 0.5rem;
      h3 {
        font-size: 1.35rem;
        font-weight: 600;
        margin-bottom: 5px;
      }
      p {
        font-weight: 300;
        font-size: 1.25rem;
        margin-bottom: 2.5rem;
      }
    }
    @media screen and (min-width: 900px) {
      width: 45%;
      .taskDescription {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: $borderMobile;
        width: 45%;
      }
    }
  }
  .right {
    width: 100%;
    .projectDescription {
      .heading {
        font-weight: 600;
        font-size: 32px;
      }
      .text {
        margin-top: 1rem;
        font-weight: 300;
        font-size: 1.1em;
        line-height: 1.2em;
        text-align: justify;
      }
    }
    .productLink {
      margin: 2rem auto 0 auto;
    }
    @media screen and (min-width: 900px) {
      width: 55%;
    }
  }
}
